# Ignore build folders
bin/

# Ignore config files
application.properties

# Ignore IDE files 
.idea/
*.iml
*.class

# Ignore dependency caches
node_modules/
.mvn

package-lock.json


# Ignore cache files
__pycache__/
*.pyc
*.pyo
*.pyd

#ignore Database
*.sqlite3
migrations/*
media/*
