
.center {
    text-align: center;
}

.login-form {
    max-width: 300px; /* Optional: Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

.link-class {
    font-size: 15px;
    color: #007bff;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004080;
}